<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Album details </title>
    </head>
    <body>
        <h2> Change: </h2>
        <form method="POST" action="/albums/{{ album_id }}/">
            {{ album.hidden_tag() }}
            <table>
                {% for field in album if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %} {% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Go">
        </form>
    </body>

</html>